# ------------------
# from fluentd
# ------------------

<source>
  @type forward
  port 10224
  bind 0.0.0.0
</source>

<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>


# ------------------
# for access_log
# ------------------

<filter access.nginx>
  @type nginxlog
</filter>

<filter access.nginx>
  @type x_forwarded_for
  replace_key client_ip
</filter>

<filter access.uwsgi>
  @type x_forwarded_for
  replace_key client_ip
</filter>

<filter access.**>
  @type ua_parser
  flatten
</filter>

<filter access.**>
  @type geoip
  lookup_key client_ip
  flatten
</filter>


# ------------------
# Forward
# ------------------


<match access.**>
  @type forest
  subtype copy
  <template>
    # deep_copy true
    <store>
      type s3
      s3_bucket {{ $.Env.S3_BUCKET_NAME }}
      s3_region {{ $.Env.S3_REGION }}
      s3_object_key_format %{path}%{time_slice}_${hostname}_%{index}.%{file_extension}
      path prod_vpc_log/all/${tag_parts[-1]}/
      buffer_path /var/log/td-agent/buffer/s3_${tag_parts[-1]}
      buffer_chunk_limit 4G
      time_slice_format %Y%m%d-%H
      time_slice_wait 10m
      store_as gzip_command
      utc
    </store>
    {{if $.Env.ES_HOST}}
    <store>
      @type elasticsearch
      hosts {{ $.Env.ES_HOST }}
      port 9200
      include_tag_key true
      tag_key @log_name
      logstash_format true
      logstash_prefix access_${tag_parts[-1]}
      buffer_chunk_limit 64m
      flush_interval 1s
    </store>
    {{end}}
  </template>
</match>
