# ------------------
# System config
# ------------------

<system>
  # workers 2
  root_dir /data/buffer
</system>


# ------------------
# from fluentd
# ------------------

<source>
  @type forward
  port 10224
  bind 0.0.0.0
</source>

<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>

<source>
  @type forward
  port 10228
  bind 0.0.0.0
  <transport tls>
    insecure true
  </transport>
</source>

# ------------------
# access_log
# ------------------

<filter access.nginx>
  @type nginxlog
</filter>

<filter access.nginx>
  @type x_forwarded_for
  mode outer_ip
</filter>

<filter access.**>
  @type ua_parser
  flatten
</filter>

<filter access.**>
  @type geoip
  key_name client_ip
  flatten
</filter>

<match access.**>
  @type rewrite_tag_filter
  <rule>
    key app_name
    pattern ^(.+)$
    tag store.${tag}.$1
  </rule>
</match>

<match store.access.**>
  @type copy
  <store>
    @type elasticsearch
    hosts {{ .Env.ES_HOST }}
    port 9200
    reload_connections false
    include_tag_key true
    tag_key @log_name
    logstash_format true
    logstash_prefix access_app
    <buffer>
      @type memory
      flush_mode interval
      flush_interval 1s
    </buffer>
  </store>
  {{end}}
</match>


# ------------------
# alert_log
# ------------------

<match alert.**>
  @type rewrite_tag_filter
  <rule>
    key app_name
    pattern ^(.+)$
    tag store.${tag}.$1
  </rule>
</match>

<match store.alert.**>
  @type copy
  # deep_copy true
  {{if .Env.ES_HOST}}
  <store>
    @type elasticsearch_dynamic
    hosts {{ .Env.ES_HOST }}
    port 9200
    reload_connections false
    include_tag_key true
    tag_key @log_name
    logstash_format true
    logstash_prefix alert_${tag_parts[-2]}
    logstash_dateformat %Y.%m
    <buffer>
      @type memory
      flush_mode interval
      flush_interval 1s
    </buffer>
  </store>
  {{end}}
</match>


# ------------------
# fluent_log
# (app_name use underscore)
# ------------------

{{if .Env.ES_HOST}}
<match fluent.**>
  @type elasticsearch
  hosts {{ .Env.ES_HOST }}
  port 9200
  reload_connections false
  include_tag_key true
  tag_key @log_name
  logstash_format true
  logstash_prefix alert_fluent
  logstash_dateformat %Y.%m
  <buffer>
    @type memory
    flush_mode interval
    flush_interval 1s
  </buffer>
</match>
{{end}}


# ------------------
# audit_log
# osquery, go_audit
# ------------------

{{if .Env.ES_HOST}}
<match audit.**>
  @type elasticsearch_dynamic
  hosts {{ .Env.ES_HOST }}
  port 9200
  reload_connections false
  logstash_format true
  logstash_prefix audit_${tag_parts[-1]}
  <buffer>
    @type memory
    flush_mode interval
    flush_interval 1s
  </buffer>
</match>
{{end}}


# ------------------
# for_debug
# ------------------

{{if .Env.STDOUT}}
<filter store.**>
  @type stdout
</filter>
{{end}}
